body {
  background-position: center;
  background-color: #f3f6f9;
  background-repeat: no-repeat;
  background-size: cover;
  color: #505050;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 1em;
}

.border-table {
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  text-align: center;
}

.forgot {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #dfdfdf;
  border-radius: 10;
}
