<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <img src="assets/logoCoophalal.png" class="logo"/>
      <div class="forgot border-table">
        <h2>Has olvidado tu contraseña ?</h2>
        <p>
          Cambie su contraseña en tres sencillos pasos. ¡Esto le ayudará a
          proteger su contraseña!
          la contraseña ingresada debe contener al menos un carácter especial, un número, una letra minúscula, una letra mayúscula y tiene una longitud de al menos 8 caracteres.
        </p>
      </div>

      <form
        class="card mt-4 border-table"
        #resetForm="ngForm"
        (submit)="onSubmit()"
      >
        <div class="card-body">
          <div class="form-group form-floating">
            <input
              class="form-control"
              type="password"
              name="password"
              #password="ngModel"
              [(ngModel)]="this.resetModel.password"
              (focus)="emptyError('password_error')"
              placeholder="name@example.com"
            />
            <label>Ingrese nueva contraseña</label>
            <strong id="password_error" class="form-text text-danger d-block">
            </strong>
          </div>
          <div class="form-group form-floating">
            <input
              class="form-control"
              type="password"
              name="confirmPassword"
              #confirmPassword="ngModel"
              [(ngModel)]="this.resetModel.confirmPassword"
              (focus)="emptyError('confirmPassword_error')"
              placeholder="name@example.com"
            />
            <label>Confirmar nueva contraseña</label>
            <strong
              id="confirmPassword_error"
              class="form-text text-danger d-block"
            >
            </strong>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
          <button id="cofirm-button" class="btn btn-success" type="submit">
            Restablecer la contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
