.icons {
  text-align: center;
}
.wraped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main {
  width: 100% !important;
}

@media screen and (max-width: 992px)
{
  main {
    width: 100% !important;
  }
}
.dataTable-top {
  display: flex;
  flex-direction: column;
}

.dataTable-bottom {
  display: inline;
}

.dataTable-input {
  width: auto;
  display: inline;
  line-height: normal;
}

