.sidebar {
  justify-content: stretch;
  border: none;
}

.tabs-items {
  width: calc(100% / 4);
  text-align: center;
}
.tabs-items a {
  color: #555;
  cursor: pointer;
}
.tabs-items a.profile-active {
  color: #222;
  background-color: #fff;
  pointer-events: none;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.setting-title {
  font-size: 1.5em;
}

main {
  width: 100% !important;
}


@media screen and (max-width: 992px)
{
  main {
    width: 100% !important;
  }
}
@media screen and (max-width: 680px)
{
  .tabs-items {
    width: 50%;
  }
}