<h4>información de la transacción</h4>
<mat-stepper #stepper>
  <form [formGroup]="transactionFormGroup" (ngSubmit)="onSubmit()">
    <mat-step [stepControl]="transactionFormGroup">
      <ng-template matStepLabel>cuentas de origen</ng-template>
      <div formGroupName="origin">
        <div class="form-check" style="margin-top: 40px">
          <input class="form-check-input"
                 formControlName="originalAccount"
                 [value]="this.userBankAccountNumber"
                 (change)="disableOriginInput($event)"
                 type="radio"
                 name="origin"
                 checked />
          <label class="form-check-label"> Mi cuenta CoopHalal </label>
        </div>
        <div class="form-check"
             style="margin-top: 20px"
             *ngIf="this.isConnected && this.hasAdminRole && this.switchBtn">
          <input class="form-check-input"
                 type="radio"
                 name="origin"
                 (change)="enableReceiverInput($event)" />
          <label class="form-check-label"> Otra cuenta en CoopHalal </label>
          <input type="text"
                 class="form-control"
                 style="margin-top: 10px"
                 formControlName="receiverAccount"
                 disabled  />
        </div>
        <div *ngIf="
            receiverAccount?.invalid &&
            (receiverAccount?.dirty || receiverAccount?.touched)
          "
             class="text-danger">
          <div *ngIf="receiverAccount?.errors?.['required'] || receiverAccount?.errors?.['notOnlyWhiteSpace']">
            Ingrese una entrada válida
          </div>
        </div>
        <div class="form-check" style="margin-top: 20px">
          <input class="form-check-input"
                 type="radio"
                 name="origin"
                 (change)="enableExternalInput($event)" />
          <label class="form-check-label"> Mi cuenta en otra entidad </label>
          <input type="text"
                 class="form-control"
                 style="margin-top: 10px"
                 formControlName="externalAccount"
                 disabled />
        </div>
      </div>

      <button mat-button
              matStepperNext
              type="button"
              class="btn btn-success"
              style="margin-top: 10px">
        Siguiente
      </button>
    </mat-step>

    <mat-step [stepControl]="transactionFormGroup">
      <ng-template matStepLabel>Cuenta de destino</ng-template>
      <div formGroupName="destination">
        <div class="form-check" style="margin-top: 25px">
          <input class="form-check-input"
                 type="radio"
                 name="destination"
                 (change)="disableExternalInput($event)" />
          <label class="form-check-label"> a otra cuenta CoopHalal </label>
          <input type="text"
                 formControlName="destinationAccount"
                 class="form-control"
                 style="margin-top: 5px"
                 placeholder="Identificador de cuenta bancaria"
                 disabled />
        </div>

        <div *ngIf="
            destination?.invalid && (destination?.dirty || destination?.touched)
          "
             class="text-danger">
          <div *ngIf="destination?.errors?.['required'] || destination?.errors?.['notOnlyWhiteSpace']">
            ingrese una entrada válida
          </div>
        </div>
        <div class="form-check" style="margin-top: 25px">
          <input class="form-check-input"
                 type="radio"
                 name="destination"
                 (change)="disableDestinationInput($event)" />
          <label class="form-check-label">
            a otra cuenta de otra entidad
          </label>
          <input type="text"
                 class="form-control"
                 formControlName="externalDestination"
                 style="margin-top: 5px"
                 disabled />
        </div>
      </div>
      <div *ngIf="
          externalDestination?.invalid ||
          (externalDestination?.dirty || externalDestination?.touched)
        "
           class="text-danger">
        <div *ngIf="externalDestination?.errors?.['required'] || externalDestination?.errors?.['notOnlyWhiteSpace']">
          Ingrese una entrada válida
        </div>
      </div>

      <button mat-button
              matStepperPrevious
              style="margin-top: 10px"
              type="button"
              class="btn btn-light">
        Atrás
      </button>
      <button mat-button
              matStepperNext
              style="margin-top: 10px; margin-left: 10px"
              type="button"
              class="btn btn-success">
        Siguiente
      </button>
    </mat-step>

    <mat-step [stepControl]="transactionFormGroup">
      <ng-template matStepLabel>Monto</ng-template>
      <div formGroupName="receiverInfo">
        <div class="input-group" style="margin-top: 50px">
          <input type="text"
                 class="form-control"
                 formControlName="amount"
                 aria-label="Amount (to the nearest dollar)"
                 required
                 placeholder="0.00" />
          <div class="input-group-append">
            <span class="input-group-text">Euros</span>
          </div>
        </div>
        <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
             class="text-danger">
          <div *ngIf="amount?.errors?.['required'] ">Se requiere cantidad</div>
          <div *ngIf="amount?.errors?.['pattern'] ">
            la cantidad debe ser un dígito válido
          </div>
        </div>
        <div class="form-group" style="margin: 10px 0">
          <label for="concept">Concepto</label>
          <input class="form-control"
                 id="concept"
                 type="text"
                 style="margin-bottom: 10px"
                 formControlName="concept"
                 placeholder="motif"
                 required />
          <!--Add Date -->
          <label for="fetcha">Fetcha</label>
          <input class="form-control"
                 id="fetcha"
                 type="date"
                 style="margin-bottom: 10px"
                 formControlName="dateTransaction"
                 required />
          <!-- ----------------------------------------------------------------------------- -->
          <div *ngIf="concept?.invalid && (concept?.dirty || concept?.touched)"
               class="text-danger">
            <div *ngIf="concept?.errors?.['required'] || concept?.errors?.['notOnlyWhiteSpace']">
              se requiere concepto
            </div>
          </div>
          <div class="form-group">
            <button type="button"
                    class="btn btn-danger"
                    mat-button
                    [mat-dialog-close]=""
                    id="closeDialog">
              Cancelar
            </button>
            <button mat-button
                    matStepperPrevious
                    style="margin-left: 10px"
                    type="button"
                    class="btn btn-light">
              Atrás
            </button>
          </div>

          <button class="btn btn-success"
                  style="float: right"
                  (click)="onSubmit()">
            Enviar
          </button>
        </div>
      </div>
    </mat-step>
  </form>
</mat-stepper>
