<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading">Interfaces</div>
      <div class="sb-sidenav-menu-heading">{{"Interfaces" | translate}}</div>
      <a
        routerLink="/dashboard/users"
        routerLinkActive="active"
        *ngIf="this.linkAdminShown()"
        (click)="setActiveClass($event)">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-table-list"></i></div>
        Usuarios
        {{"Usuarios" | translate}}
        <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
      </a>
      <!--<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
@@ -30,7 +30,7 @@
        <div class="sb-nav-link-icon">
          <i class="fa fa-eur" aria-hidden="true"></i>
        </div>
        global
        {{"Global" | translate}}-->
        <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
      <a routerLink="/dashboard/transaction"
         class="nav-link collapsed"
         (click)="setActiveClass($event)">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-money-bill-transfer"></i></div>
        Transacciones
        {{"Transacciones" | translate}}
        <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
      </a>
      <a
        class="nav-link collapsed"
        (click)="setActiveClass($event)">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></div>
        charts
        {{"Instantánea Financiera" | translate}}
        <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
      </a>
      <a
        class="nav-link collapsed"
        (click)="setActiveClass($event)">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-comments"></i></div>
        {{"Peticiones" | translate}}
        <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
      </a>
    </div>
  </div>
  <button (click)="changeLanguage('es')">{{"Español" | translate}}</button>
  <button (click)="changeLanguage('en')">{{"Inglés" | translate}}</button>
  <button (click)="changeLanguage('fr')">{{"Francés" | translate}}</button>
  <div class="sb-sidenav-footer">
    <div class="small">{{"Conectado como" | translate}}</div>
    {{"CoopHalal" | translate}}
  </div>
</nav>