<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <img src="assets/logoCoophalal.png" class="logo" />
      <div class="forgot border-table">
        <h2>Has olvidado tu contraseña ?</h2>
        <p>
          Cambie su contraseña en tres sencillos pasos. ¡Esto le ayudará a
          proteger su contraseña!
        </p>
        <ol class="list-unstyled">
          <li>
            <span class="text-primary text-medium">1. </span>Introduzca su
            dirección de correo electrónico a continuación.
          </li>
          <li>
            <span class="text-primary text-medium">2. </span>Nuestro sistema le
            enviará un enlace temporal
          </li>
          <li>
            <span class="text-primary text-medium">3. </span>Utilice el enlace
            para restablecer su contraseña
          </li>
        </ol>
      </div>

      <form
        class="card mt-4 border-table"
        #forgetForm="ngForm"
        (submit)="onSubmit()"
      >
        <div class="card-body">
          <div class="form-group form-floating">
            <input
              class="form-control"
              id="inputEmail"
              type="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="this.forgetModel.email"
              (focus)="emptyError('email_error')"
              placeholder="name@example.com"
            />
            <label for="inputEmail">Dirección de correo electrónico</label>
            <small class="form-text text-muted">
              Introduzca la dirección de correo electrónico que utilizó durante
              el registro. A continuación, le enviaremos un enlace por correo
              electrónico a esta dirección.
            </small>
            <strong id="email_error" class="form-text text-danger d-block">
            </strong>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
          <button id="cofirm-button" class="btn btn-success" type="submit">
            Enviar Enlace
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
