/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 992px) {
  #cdk-overlay-0 {
    width: 90% !important;
    max-width: 100vh !important;
  }
  .mat-horizontal-stepper-header-container{
    flex-direction: column !important;
  }
}
